@font-face {
    font-family: 'kionaI';
    src: url('../fontes/Kiona-Itallic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzelR';
    src: url('../fontes/Cinzel-Regular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white; 
}

header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 10vh;
    border: 1px solid rgba(0, 0, 0, 0.137);
    z-index: 5;
    overflow: hidden;
}

.box-1 {
    display: flex;
}

.menu-box-1 {
    background-color: rgb(255, 255, 255);
    width:7vw;
    height: 10vh;
    border-right: 1px solid rgba(0, 0, 0, 0.137);
}

.menu-box-1 button {
    position: relative;
    background: none;
    font-family: 'cinzelR', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
}

.choose-team {
    background-color: rgb(255, 255, 255);
    width: 11vw;
    height: 10vh; 
}

.select-team {
    position: relative;
    display: flex;
    align-items: center;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: 2.5vw;
    height: 5vh;
    border-right: 5px solid rgba(0, 0, 0, 0.137);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}

.select-team:hover {
    width: 10vw;
}

.select-team:hover .input-team {
    width: 100%;
    display: block;
}

.select-team img {
    width: 30px;
    padding-left: 2px
}

.input-team {
    background: none;
    border: none;
    outline: none;
    display: none;
    padding: 0;
    width: 0;
    margin: 0px 5px;
    color: black;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    transition: .5s;
}

.box-2 {
    background-color: rgb(255, 255, 255);
    font-family: 'kionaI', sans-serif;
    cursor: pointer;
}

.box-3 {
    display: flex;
}

.settings-nav {
    background-color: rgb(255, 255, 255);
    width: 11vw;
    height: 10vh;
}

.search-header {
    position: relative;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 2.5vw;
    height: 5vh;
    border-left: 5px solid rgba(0, 0, 0, 0.137);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}

.search-header:hover {
    width: 10vw;
}

.search-header .input-search {
    width: 100%;
    display: block;
}

.search-header img {
    width: 25px;
}

.search-header input {
    background: none;
    border: none;
    outline: none;
    display: none;
    padding: 0;
    width: 0;
    margin: 0px 5px;
    color: black;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    transition: .5s;
}

.conf {
    background-color: rgb(255, 255, 255);
    width: 7vw;
    height: 10vh;
    border-left: 1px solid rgba(0, 0, 0, 0.137);
}

.conf button {
    position: relative;
    background: none;
    font-family: 'cinzelR', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
}

.leagues {
    background-color: rgb(255, 255, 255);
    width: 7vw;
    height: 10vh;
    border-left: 1px solid rgba(0, 0, 0, 0.137);
}

.leagues button {
    position: relative;
    background: none;
    font-family: 'cinzelR', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
}

#nav-menu {
    z-index: 5;
}

.nav-menu.active {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 10vh;
    transform: translateX(0%);
    width: 30%;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.137);
    overflow: auto;
}

.nav-menu.active ul {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.nav-menu.active li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);

}

.nav-menu.active li:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

.nav-menu {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 10vh;
    transform: translateX(-100%);
    width: 30%;
    height: 90vh;
    transition: .5s;
    border: 1px solid rgba(0, 0, 0, 0.137);
    overflow: auto;
}

.nav-menu ul {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.nav-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);

}

.first-section {
    background: white url("../imagens/img-fundo.jpg") no-repeat right top fixed;
    position: absolute;
    width: 100%;
    height: 50vh;
    margin-top: 7vh;
}

#content-top {
}

.copa-br {
    background-color: chartreuse;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 35%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}

.brasileirao {
    background-color: chartreuse;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}

.libertadores {
    background-color: chartreuse;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 65%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}

.section-2 {
    background-color: black;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 800px;
}

.first-main {
    background-color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90%;
    height: 90%;
}

.first-article {
    background-color: blue;
    position: absolute;
    display: flex;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90%;
    height: 90%;
}

#table-1 {
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: -60%;
    transform: translate(0% , -50%);
    width: 70%;
    height: 90%;
    border: 1px solid #FFFFFF;
}

#table-2 {
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 70%;
    height: 90%;
    border: 1px solid #FFFFFF;
}

#table-3 {
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(0% , -50%);
    width: 70%;
    height: 90%;
    border: 1px solid #FFFFFF;
}



h3 {
    position: absolute;
    left: 600px;
    top: 1500px;
    height: 1000px;
    background-color: blueviolet;
}