@font-face {
    font-family: 'kionaI';
    src: url('../fontes/Kiona-Itallic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzelR';
    src: url('../fontes/Cinzel-Regular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white; 
}

header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 10vh;
    border: 1px solid rgba(0, 0, 0, 0.137);
    z-index: 5;
    overflow: hidden;
}

.box-1 {
    display: flex;
}

.menu-box-1 {
    background-color: rgb(255, 255, 255);
    width:7vw;
    height: 10vh;
    border-right: 1px solid rgba(0, 0, 0, 0.137);
}

.menu-box-1 button {
    position: relative;
    background: none;
    font-family: arial, sans-serif;
    font-size: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    transition: .2s;
}

.menu-box-1 button:hover {
    color: rgba(0, 0, 0, 0.774);
}

.choose-team {
    background-color: rgb(255, 255, 255);
    width: 11vw;
    height: 10vh; 
}

.select-team {
    position: relative;
    display: flex;
    align-items: center;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: 2.5vw;
    height: 5vh;
    border-right: 5px solid rgba(0, 0, 0, 0.137);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}

.select-team:hover {
    width: 10vw;
}

.select-team:hover .input-team {
    width: 100%;
    display: block;
}

.select-team img {
    width: 30px;
    padding-left: 2px
}

.input-team {
    background: none;
    border: none;
    outline: none;
    display: none;
    padding: 0;
    width: 0;
    margin: 0px 5px;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    transition: .5s;
}

.box-2 {
    background-color: rgb(255, 255, 255);
    font-family: 'kionaI', sans-serif;
    cursor: pointer;
}

.box-3 {
    display: flex;
}

.settings-nav {
    background-color: rgb(255, 255, 255);
    width: 11vw;
    height: 10vh;
}

.search-header {
    position: relative;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 2.5vw;
    height: 5vh;
    border-left: 5px solid rgba(0, 0, 0, 0.137);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
}

.search-header:hover {
    width: 10vw;
}

.search-header .input-search {
    width: 100%;
    display: block;
}

.search-header img {
    width: 25px;
}

.search-header input {
    background: none;
    border: none;
    outline: none;
    display: none;
    padding: 0;
    width: 0;
    margin: 0px 5px;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    transition: .5s;
}

.league {
    background-color: rgb(255, 255, 255);
    width: 7vw;
    height: 10vh;
    border-left: 1px solid rgba(0, 0, 0, 0.137);
}

.league button {
    position: relative;
    background: none;
    font-family: arial, sans-serif;
    font-size: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    transition: .2s;
}

.league button:hover {
    color: rgba(0, 0, 0, 0.774);
}

.color-system {
    background-color: rgb(255, 255, 255);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    width: 6vw;
    height: 10vh;
    border-left: 1px solid rgba(0, 0, 0, 0.137);
}

.color-system span {
    position: relative;
    font-family: 'cinzelR', sans-serif;
    cursor: pointer;
}

.dark-mode {
    position: relative;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    display: block;
}

.clear-mode {
    position: relative;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    display: none;
}

.top-navbar {
    position: absolute;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.language {
    background: none;
    position: relative;
    justify-content: space-around;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 6vw;
    height: 5vh;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    transition: .5s;
}

.indicator { 
    background: none;
    border: none;
    position: relative;
    top: 2px;
    right: 30px;
}

.language:hover {
    border-bottom: 1px solid black;
}

.indicator p { 
    font-family: 'kionaI', sans-serif;
    font-size: 12px;
}

.language img {
    position: relative;
    float: left;
    width: 30px;
}

.x-menu {
    background: none;
    border: none;
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    right: 1vw;
    width: 3vw;
    height: 6vh;
    font-size: 16px;
    font-weight: bold;
}

.x-menu:hover {
    background-color: rgba(0, 0, 0, 0.096);
}

.nav-menu.active , .nav-menu {
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 5;
    top: 10vh;
    transform: translateX(0%);
    width: 30%;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.137);
    overflow: auto;
}

.nav-menu {
    z-index: 5;
    transform: translateX(-100%);
    transition: .5s;
}

.nav-menu.active ul , .nav-menu ul {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 50px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.nav-menu.active li  , .nav-menu li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.nav-menu.active li:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.nav-menu.active a , .nav-menu a {
    position: relative;
    text-decoration: none;
    color: black;
    font-family: arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    left: 30px;
}

.first-section {
    background: white url("../imagens/img-fundo.jpg") no-repeat right top fixed;
    position: absolute;
    width: 100%;
    height: 50vh;
    margin-top: 7vh;
}

.copa-br {
    background-color: chartreuse;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 35%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}

.brasileirao {
    background-color: chartreuse;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}

.libertadores {
    background-color: chartreuse;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 65%;
    border-radius: 50%;
    transform: translate(-50% , -50%);
}

.section-2 {
    background-color: black;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 800px;
}

.first-main {
    background-color: #FFFFFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90%;
    height: 90%;
}

.first-article {
    background-color: blue;
    position: absolute;
    display: flex;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90%;
    height: 90%;
}

#table-1 {
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: -60%;
    transform: translate(0% , -50%);
    width: 70%;
    height: 90%;
    border: 1px solid #FFFFFF;
}

#table-2 {
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 70%;
    height: 90%;
    border: 1px solid #FFFFFF;
}

#table-3 {
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(0% , -50%);
    width: 70%;
    height: 90%;
    border: 1px solid #FFFFFF;
}



h3 {
    position: absolute;
    left: 600px;
    top: 1500px;
    height: 1000px;
    background-color: blueviolet;
}