@font-face {
    font-family: 'kionaI';
    src: url('../fontes/Kiona-Itallic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzelR';
    src: url('../fontes/Cinzel-Regular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    overflow-x: hidden;
}

header {
    z-index: 5;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.137);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 500px) {
    header {
        height: 7vh;
    }
}

.box-1 {
    display: flex;
}

.menu-box-1 {
    width:7vw;
    height: 10vh;
    border-right: 1px solid rgba(0, 0, 0, 0.137);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-box-1 button {
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1040px) {
    .menu-box-1 {
        width: 10vw;
    }
}
@media (max-width: 600px) {
    .menu-box-1 {
        border-right: none;
    }
}
@media (max-width: 500px) {
    .menu-box-1 {
        width: 20vw;
        height: 7vh;
    }
}

.menu-box-1 button:hover {
    color: rgba(0, 0, 0, 0.774);
}

.choose-team {
    width: 11vw;
    height: 10vh;
    display: flex;
    align-items: center; 
}

.select-team {
    width: 35px;
    height: 35px;
    border-right: 5px solid rgba(0, 0, 0, 0.137);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 40px;
    position: relative;
    left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.select-team img {
    width: 32px;
    padding-left: 2px;
}

.input-team {
    width: 0;
    display: none;
    margin: 0px 5px;
    color: black;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    transition: .5s;
}

.select-team:hover {
    width: 10vw;
}

.select-team:hover .input-team {
    width: 100%;
    display: block;
}

@media (max-width: 1040px) {
    .select-team {
        width: 10vw;
    }
    .select-team img {
        display: none;
    }
    .input-team {
        width: 100%;
        display: block;
    }
}
@media (max-width: 600px) {
    .select-team {
        border: none;
    }
}
@media (max-width: 500px) {
    .choose-team {
        display: none;
    }
}

.box-2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'kionaI', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.box-3 {
    display: flex;
}

.settings-nav {
    width: 11vw;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.lupa-mobile {
    display: none;
}

@media (max-width: 500px) {
    .settings-nav {
        height: 7vh;
    }
    .lupa-mobile {
        width: 50%;
        margin-right: 5vw;
        display: block;
    }
}

.search-header {
    width: 35px;
    height: 35px;
    border-left: 5px solid rgba(0, 0, 0, 0.137);
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 40px;
    position: relative;
    right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.search-header img {
    width: 25px;
}

.input-search {
    width: 0;
    display: none;
    margin: 0px 5px;
    color: black;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    transition: .5s;
}

.search-header:hover {
    width: 10vw;
}

.search-header .input-search {
    width: 100%;
    display: block;
}

.league {
    width: 7vw;
    height: 10vh;
    border-left: 1px solid rgba(0, 0, 0, 0.137);
    display: flex;
    justify-content: center;
}

@media (max-width: 1040px) {
    .search-header {
        width: 10vw;
    }
    .search-header img {
        display: none;
    }
    .input-search {
        width: 100%;
        display: block;
    }
    .league {
        width: 10vw;
    }
}
@media (max-width: 600px) {
    .search-header {
        border: none;
    }
    .league {
        border-left: none;
    }
}
@media (max-width: 500px) {
    .search-header {
        display: none;
    }
}

.league button {
    position: relative;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.league button:hover {
    color: rgba(0, 0, 0, 0.774);
}

.league:hover .championships {
    height: 90vh;
    visibility: visible;
}

.championships {
    z-index: 4;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.137);
    position: fixed;
    top: 10vh;
    right: 0px;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.championships ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.championships li {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    position: relative;
    text-align: center;
}

.championships li:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.championships a {
    position: relative;
    top: 44%;
    color: black;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.color-system {
    width: 7vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.137);
    display: flex;
    align-items: center;
    cursor: pointer;    
}

.color-mode {
    position: relative;
    display: flex;
    left: 15px;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.color-mode:hover {
    color: rgba(0, 0, 0, 0.774);
}

.dark-mode {
    width: 20px;
    height: 20px;
    position: relative;
    left: 20px;
    margin-left: 2px;
    display: block;
}

.clear-mode {
    width: 20px;
    height: 20px;
    position: relative;
    left: 20px;
    margin-left: 2px;
    display: none;
}

@media (max-width: 1040px) {
    .color-system {
        width: 10vw;
    }
    .color-mode {
        left: 10px;
    }
    .dark-mode {
        left: 15px;
    }
    .clear-mode {
        left: 15px;
    }
}
@media (max-width: 700px) {
    .dark-mode {
        display: none;
    }
    .clear-mode {
        display: none;
    }
}
@media (max-width: 600px) {
    .color-system {
        border-left: none;
    }
}
@media (max-width: 500px) {
    .league {
        display: none;
    }
    .color-system {
        display: none;
    }
}

.top-navbar {
    position: absolute;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.language {
    position: relative;
    justify-content: space-around;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 6vw;
    height: 5vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    transition: .5s;
}

.indicator { 
    position: relative;
    top: 2px;
    right: 30px;
}

.language:hover {
    border-bottom: 1px solid black;
}

.indicator p { 
    font-family: 'kionaI', sans-serif;
    font-size: 1rem;
}

.language img {
    position: relative;
    float: left;
    width: 30px;
}

.x-menu {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    right: 1vw;
    width: 3vw;
    height: 6vh;
    font-size: 16px;
    font-weight: bold;
}

.x-menu:hover {
    background-color: rgba(0, 0, 0, 0.096);
}

.nav-menu.active , .nav-menu {
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 4;
    top: 10vh;
    transform: translateX(0%);
    width: 30%;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.137);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-menu {
    z-index: 4;
    transform: translateX(-100%);
    transition: .5s;
}

.nav-menu.active ul , .nav-menu ul {
    position: absolute;
    display: block;
    top: 50px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.nav-menu.active li  , .nav-menu li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.nav-menu.active li:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.nav-menu.active a , .nav-menu a {
    position: relative;
    text-decoration: none;
    color: black;
    font-family: arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.6rem;
    left: 30px;
}

.first-section {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-top: 10vh;
}

.last-update {
    position: absolute;
    display: flex;
    top: 5vh;
    left: 2vw;
}

.last-update h2 {
    color: rgb(255, 255, 255);
    font-family: 'kionaI' , arial, sans-serif;
    font-size: 10px;
}

#update-schedule {
    color: #ffffff;
    font-family: 'kionaI' , arial, sans-serif;
    font-size: 10px;
    padding: 0px 5px;
}

#content-top {
    text-align: center;
    color: #000000;
}

#content-top h2 {
    color: rgb(0, 0, 0);
    position: relative;
    font-family: 'kionaI';
    font-size: 1.6rem;
    top: 5vh;
}

circle {
    fill: none;
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.circle-1 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50%;
    left: 35%;
    transform: translate(-50% , -50%);
}

.circle-1 svg , .circle-2 svg , .circle-3 svg {
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.c1-1 , .c2-1 , .c3-1 {
    stroke-dashoffset: 0;
    stroke: rgba(110, 110, 110, 0.461);
}

.c1-2 , .c2-2 , .c3-2 {
    stroke-dashoffset: calc(440 - 200);
    stroke: rgb(8, 18, 58);
}

.circle-2 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.circle-3 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50%;
    left: 65%;
    transform: translate(-50% , -50%);
}

#c1 , #c2 , #c3 {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.listaaa {
    position: relative;
    margin-top: 10vh;
    width: 100%;
    height: 10vh;
    border: 1px solid  rgb(8, 18, 58);
}

.first-article {
    position: relative;
    display: flex;
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
}

.section-slide {
    position: relative;
    display: flex;
    width: 90%;
    height: 100vh;
    overflow-x: scroll;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
    z-index: 2;
    visibility: hidden;
}

.left-arrow img {
    width: 30px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 5vw;
    transform: translateY(-50%);
    z-index: 2;
}

.right-arrow img {
    width: 30px;
}

#table-1 , #table-2 , #table-3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    min-width: 70vw;
    height: 80vh;
    margin: 0px 9vw;
    border: 1px solid rgb(0, 0, 0);
}

#table-1 h1 , #table-2 h1 , #table-3 h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'kionaI', arial, sans-serif;
    padding: 1vh 0px;
}

#t-t1:hover .team-t1 {
    visibility: visible;
}

#team-t1 {
    position: absolute;
    top: 0px;
    left: 2vw;
    padding: 1vh 0px 2vh 0px;
    font-size: 1.4rem;
    cursor: pointer;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-family: 'kionaI', arial , sans-serif;
}

.team-t1 {
    background-color: rgb(221, 225, 237);
    border-top: 1px solid  rgb(8, 18, 58);
    border-right: 1px solid  rgb(8, 18, 58);
    border-bottom: 1px solid  rgb(8, 18, 58);
    z-index: 2;
    position: absolute;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    font-family: 'kionaI' , arial , sans-serif;
    width: 10vw;
    height: 40vh;
    flex-direction: column;
    visibility: hidden;
}

.team-t1 li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    width: 100%;
    height: 100%;
}

.team-t1 li:hover {
    background-color:rgba(0, 0, 0, 0.137);
    font-weight: bold;
}

#t-t2:hover .types-t1 {
    visibility: visible;
}

#types-t1 {
    position: absolute;
    top: 0vh;
    left: 8vw;
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 1vh 0px 2vh 0px;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'kionaI', arial , sans-serif;
}

.types-t1 {
    background-color: rgb(221, 225, 237);
    border: 1px solid  rgb(8, 18, 58);
    z-index: 2;
    position: absolute;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-family: 'kionaI' , arial , sans-serif;
    left: 4vw;
    width: 10vw;
    height: 40vh;
    flex-direction: column;
    visibility: hidden;
}

.types-t1 li{
    display: flex;
    align-items: center;
    text-align: 1.4rem;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    width: 100%;
    height: 100%;
}

.types-t1 li:hover {
    background-color:rgba(0, 0, 0, 0.137);
    font-weight: bold;
}

#chart-t1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
